__history/
lib/
Win32/
Data/
LibrarySupport/
ModelSupport_Source
out/
.svn/
logs/
*.tvsconfig
__recovery/
*.local
*.identcache
*.stat
Delphi-Code-Coverage-Debug.log
ActiveQueue.conf
ActiveQueue*.conf
Reception.conf
Reception.res
QueueStorage*.txt
test_requests.bat
